@media only screen and (max-width: 767px) {
    .banner-desktop {
        display: none;
    }
    #banner h1 {
        display: none;
    }
    #banner img {
        margin-top: -31px;
    }
}